body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(84, 82, 82);
    font-weight: 500;
    font-size: 40px;
}

.container{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

.input-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label{
    font-size:small;
    margin-bottom: 3px;
}

input{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid #ccc;
    outline: none;
}

input:focus {
    border-color: rgb(118, 180, 238);
    box-shadow: 0px 0px 5px 4px rgb(161, 156, 156,0.2);
}

button{
    min-height: 30px;
    max-width: 70px;
    padding: 8px;
    background-color: rgb(51, 147, 236);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(3, 108, 207);
}

.display-container{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 180px;
    margin-bottom: 10px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid rgb(194, 193, 193);
    object-fit: cover;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: 0;
}

.userName{
    display: block;
    color: #716565;
    font-weight: bold;
    font-size: larger;
}

.userEmail, .userPhone{
    display: block;
    font-style: italic;
    font-size: 14px;
    color: rgb(36, 136, 103);
}
